body {
  background-color: #c5e6cb;
}
.container {
  background-color: #066b80;
  padding: 100px;

}
.well {
  background-color: #c5e6cb;
  text-align: center;
  color: black;
  border-style: solid;
  border-color: white;

}

.form-group {
  color: red;
  margin-left: : 155px;
  padding:10px;

}
h4 {
  color: yellow;
}

/* .radio-inline {
  text-align: center;
  margin: 0 75px 0 75px;
} */

#standardRoom {
  display: none;


}
#presidentialRoom {
  display: none;

}
#penthouseRoom {
  display: none;

}
#honeymoonRoom {
  display: none;

}
#resultOutput {
  /* visibility: hidden; */
  display: none;
  text-align: center;
}
