body {
  background-color: #c5e6cb;
}
.container {
  background-color: #066b80;
  padding: 100px;

}
.well {
  background-color: #c5e6cb;
  text-align: center;
  color: black;
  border-style: solid;
  border-color: white;

}

.form-group {
  color: red;
  margin-left: : 155px;
  padding:10px;

}
h4 {
  color: black;
}
p {
  color: black;
}

img{
  border: 5px solid black;
  border-radius: 4px;
  width: 150px;
  height: 500px;
  width: 800px;
}

#dateOutput {
  color: black;
}
#standardRoom {
  display: none;


}
#presidentialRoom {
  display: none;

}
#penthouseRoom {
  display: none;

}
#honeymoonRoom {
  display: none;

}
#resultOutput {
  /* visibility: hidden; */
  display: none;
  text-align: center;
  font-size: 25px;
  text-emphasis-color: yellow;
}
