.container {
  background-color: blue;
  padding: 20px;

}
.jumbotron {
  background-color: yellow;
  text-align: center;
  color: black;

}

.form-group {
  color: red;
  margin-left: : 155px;
  padding:10px;

}

/* .radio-inline {
  text-align: center;
  margin: 0 75px 0 75px;
} */

#standardRoom {
  display: none;
  text-align: center;
}
#presidentialRoom {
  display: none;
  text-align: center;
}
#penthouseRoom {
  display: none;
  text-align: center;
}
#honeymoonRoom {
  display: none;
  text-align: center;
}
